@import url("styles/header.css");
@import url("styles/sobre.css");
@import url("styles/metricas.css");
@import url("styles/vagas.css");
@import url("styles/lista-vagas.css");
@import url("styles/depoimentos.css");
@import url("styles/footer.css");
 
:root{
    --fonte-principal: "inter", sans-serif;
    --cor-itens-navbar-logo: #3A404E;
    --cor-itens-navbar-button-cad: #FFFFFF;
    --cor-secundaria: #667085;
    --cor-button-cad: #8E2424;
    --cor-titulo: #8E2424;
    --cor-copyright: #98A2B3;
    --background-titulo: #f8edeb;
    --cor-borda: #EAECF0;
    --background-footer: #F9FAFB;
    --border-color: #D0D5DD;
}